html,body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #302E2F;
    text-decoration: none;
    font-family: "Lucida Sans", sans-serif;
  
  
  }
  header{
    overflow: hidden;  
    background-color: black;
    width: 100%;
    height: 50px;
    position: relative;
    /* z-index: 999; */
  }
  .header{
   
    color:#5B2D14;
    margin-left: 80px;
  
  }
  
  
  
  
  
  .firstline{
  color:white;
  }
  
  .squares{
    background: repeating-linear-gradient(to bottom, transparent, transparent 5px, #444243 5px, #444243 10px),
    repeating-linear-gradient(to right, #202020, #202020 5px, #444243 5px, #444243 10px);
  
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .m{
    color:#E59821;
  
  }
  @font-face{
    font-family: interest;
    src:url(strong.ttf)
  
  }
  
  .grey-wall{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    margin-top: 70px;
    width: 85%;
    height: 170px;
    background-color:   #302E2F;
    position: relative;
  
   
    
  
  
  }
  .logo{
    display: flex;
    align-items: center;
    align-self: flex-start;
    justify-content: center;
    font-family: interest;
    font-size:40px ;
    width:100%;
    height: 100px;
    border: 10px solid white;
    background-color: black;
    color: white;
    margin: 15px;
    
  
  } 
  
  /*dropdown*/
  .main{
  
    display: inline-flex;
    position: relative;
    right: 20px;
  
  
  
  }
  .dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
  
    cursor: pointer;
    z-index:9999;
    margin: 45px;
  
  }
  .icon a{
    display:flex;
    position: absolute;
    color: white;
    font-size: 16px;
    text-decoration: none;
  
  
  
  }
  
  
  .icon:hover a{
  color:#DE9853 ;
  } 
  
  
  
  
  /*input*/
  
  .right-input{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: baseline;
    height: 130px;
    width: 300px;
    background-color:rgb(64, 69, 75);
  
  
  
  }
  
  .input-text{
  position: relative;
  top: 40px;
  right: 35px;
  color:white;
  font-weight: bold;
  font-size: 12px;
  } 
  
  
  .search{
    color: #a17532;
    font-weight: bold;
    font-size: 12px;
  
  }
  .inputs{
    display: flex;
    flex-direction: row;
    height: 5vh;
    margin: 30px;
  
  
  }
  
  .sbmit{
    width: 70px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    background-color: #EB7B0C;
    color:wheat;
  
  } 
  
  /*topnav*/
  .open{
  display: none;
  }
  
  
  
  
  .topnav{
  position: fixed;
  z-index: 9999;
  top: 0%;
  left:0%;
  overflow-x: hidden;
  height: 100%;
  width:0%;
  background-color: rgba(0,0,0, 0.9);
  transition:0.5s;
  
  }
  .topnav-content{
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  }
  
  
  .topnav a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
  }
  
  .topnav a:hover .topnav a:focus{
  color:white;
  }
  
  
  .topnav .closebtn{
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  
  }
  
  
  
  
  
  /*navigation-bar*/
  .menu{
    display: flex;
    justify-content: center;
    position: relative;
  
   
  }
  
  .tub  ,.tub1{
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    top: 20px;
    min-width: 11.4%;
    height: 70px;
    background-color: #1D1D1D;
    color: white;
    border: 1px solid black;
  
  } 
  .tub1{
    
   
    height: 70px;
    width: 300px;
    background-color: #1D1D1D;
    color: white;
    border: 1px solid black;
    
  
  }
  .tub:hover {
    color:  #1D1D1D ;
    background-color: rgba(255,215,0);
    
  } 
  
/*faq*/
 .faq{
   /* float: right;
   position: relative;
   right:250px;
  bottom:370px;*/
   color:#217876;

} 


.faq-text{
  display: flex;
  flex-direction: column;


}
  .accordion-main .faq-text{
    display: flex;
  justify-content: flex-end;
  align-items: center;
  /* position: static; */
    /* float: right; */
    width: 40%;

  
  }

.faq-text{
  position: relative;
  bottom:300px;
  left:640px;

}

.arrow{
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTcUngeI7kMDha8xbJifdhvMNjviyCwLaDqpg&usqp=CAU');
    background-size: 100% 100%;
    height:20px;
    border:none;
    background-repeat: no-repeat;
    width:20px;
    
    float: right;
}
 .accordion,.panel  {

/* 
   position: relative;
    bottom:300px;
    left:585px; */
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    border:1px solid black;

  }
   
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    position: relative;
    left:0px;
    top:0px;
    /* width: 50%; */
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }







    

/*footer*/
.footer{
    position: relative;
    top:70px;
    background-color: grey;
    opacity: 0.5;
    width: 100%;
    height: auto;
   
}
.fword{
    cursor: pointer;
    color: black;
    margin: 10px;
    font-size: 2em;
}
.fword:hover{
     background-color: rgba(255,215,0);

}



































@media not screen and (min-width: 1290px){

    .dropdown{
      
      margin:30px;
    
    }.icon a{
      font-size:12px;
    
      
    }
    
    
    
    
    .right-input{
      display: flex;
      align-items: center;
      height: 130px;
    
      background-color:rgb(64, 69, 75);
      position: relative;
    
    
    } 
    
    .input-text{
    position: relative;
    left: 0px; 
    color:white;
    font-weight: bold;
    font-size: 10px;
    } 
    
    
    .firstline-input{
      width:100px;
    
    }
    
   
    
    }
    
    
    @media  not screen and (min-width:1298px){
      .tub,.tub1{
        display: flex;
        justify-content: center;
      
        min-width:13%;
      }
      .faq{
        font-size: 2vw;
      }
      .faq-text{
        position: relative;
        top:0px;

      }

     
     .accordion{
 
        left:0px;
        position: relative;
        width: 100%;
      } 

      /* .faq-text,.panel{
        position: relative;
      left: 0px;
        
        width: 100%;

       

      }
       */
       .accordion-main {
         display: flex;
         position: relative;
        right:0px;
        bottom:300px;
       }


      .accordion,.panel{
        width: 100%;
       
       

      }
      .gif{
        right:70px;
        width:60%;
      }
    
     
     
    }
    
   




    
    @media screen and (max-width:1091px){
      .right-input{
        display: none;
      }
    
      .icon a{
        display: none;
        font-size: 30px;
      }
    
    
      .logo{
      
     
    position: absolute;
    display: flex;
    width:95%;
    font-size:90px;
    justify-content: center;
    
  
      }
    
    
      .open{
        display: block;
        float: right;
      }
    
      
    
      .tub,.tub1{
     
        min-width:11%;
        font-size: 12px;  
      
      }

      /*faq*/
       .accordion-main .faq-text{
      left:0px;
     
      display: flex;
      justify-content: flex-end;
      width: 80%;
      position: relative;

      } 

    .faq{
      position: relative;
      top:10px;
    }
    

      .gif{
        display: block;
       
width:100%;
transform: none;
position: relative;
top:480px;
}


    }
    
    
    
    





    
    @media screen and (max-width:1001px){
      .right-input{
        display: none;
      }
    
      .icon a{
        display: none;
        font-size: 30px;
      }
    
    
      .logo{
      
        display: flex;
        justify-content: center;
        width:95%;
        font-size: 80px;
    
      }
    
    
      .tub,.tub1{
        display: flex;
        flex-direction: column;
        min-width:18%;
        font-size: 14px;
    
        
        
    
        
      }
      .tub1{
        display: none;
      }


      /*faq*/
      .faq{
        font-size: 15px;
      }
      .faq-text{
        position: relative;
        top:20px;
      }
   
    

.gif{
       
  width:100%;
  transform: none;
  position: relative;
  top:450px;
  }

  }


    @media screen and (max-width:901px){
      .logo{
      display: flex;
      justify-content: center;
      width:94%;
      font-size: 70px;
      }
    
    
    
      
      .menu{
        display: flex;
        flex-direction: column;
        min-width:8%;
        height: 300px;
    
      }
     
    
      /* .accordion-main{

     
        left:200px;
        } */
      
        /* .margin{
          position: relative;
          top:318px;
          height: auto;
        } */




  }

  
    
    
   
    





    
    @media screen and (max-width:801px){
    
      .logo{
      
        display: flex;
        justify-content: center;
        width:94%;
        font-size: 70px;
        }
      
    
/*     
        .accordion-main{

     
          left:100px;
          }
     */
          /* .margin{
            position: relative;
            top:378px;
            height: auto;
          } */
    
     
    
    }
    
    @media screen and (max-width:801px){
    
      .logo{
      
        display: flex;
        justify-content: center;
        width:90%;
        font-size: 40px;
        }



        
    

        .faq-text{
          top:20px;
        }






        .footer{
    
          display: flex;
        
        flex-direction: column;
        align-items: center;
        }
    
    
       .foottext{
         display: none;
       }
      
    }
    
    /*topnav*/
    @media screen and(max-height:450px){
      .topnav a{
        font-size: 20px;
      }
      .topnav .closebtn{
    font-size:40px;
    top:15px;
    right:35px;
      }

     


    }
    










































